<div style="padding-bottom: 100px;">
<div class="jumbotron panel container landingMessage">
  <h1>Welcome To DroneZone</h1>
  <h3>Drone Tracking & Safety Application</h3>
  <p style="font-style: italic; font-size: 20px;">DroneZone provides a comprehensive and fully FAA compliant tracking web based application for all of your UV drones</p>
  <a type="button" class="btn btn-lg btn-danger" href="/users/new"><span class="glyphicon glyphicon-flash"></span> Getting Started with DroneZone</a>
  <!--<a type="button" class="btn btn-lg btn-primary" href="/drones/"></span> Login </a>-->
</div>
<div id="video-container">
  <video id="vidBackground" autoplay="true" loop="true" poster="/app/assets/drone2.jpg">
    <source src="/assets/WorkingSite.mp4" type="video/mp4">
    <source src="/assets/WorkingSite.m4v" type="video/m4v">
    <source src="/assets/WorkingSite.ogg" type="video/ogg">
    <source src="/assets/WorkingSite.webm" type="video/webm">
    Your browser does not support the video tag.
  </video>
</div>



<!--Single drone backg -->
<!-- <div id="imageDiv1">
  <div id="imageBackground1">-->
<div id="imgContainer"> 
  <img src="/assets/DroneZoneBackPic1.jpeg" id="image1">
</div>
<!--</div> -->
<div id="welcome_paragraph_container" class="panel">
  <div class="welcome_paragraph">
    <h4>Efficient and Safe Platform</h4>
    <p>Efficient and safe platform for all industries that have the most to gain from drone technology. <br><br> Unique web-based system to manage and track your fleet of drones in real time.</p>
  </div>
</div>

<div id="registerDrone">
  <p>Target Industries</p>
</div>

<div class="container">
  <div class="row targetHeaders">
    <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-12" id="droneOperatorHeader" style="width: 320px; text-align: center;">
      <h4 class="panel">Operation</h4>
    </div>
    <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-12" id="governmentHeader" style="width: 320px; text-align: center;">
      <h4 class="panel">Government</h4>
    </div>
    <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-12" id="droneManufacturersHeader" style=" width: 320px; text-align: center;">
      <h4 class="panel">Drone Manufacturing</h4>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-12 industriesDiv" id="industriesContainer1">
    </div>
    <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-12 industriesDiv" id="industriesContainer2">
    </div>
    <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-12 industriesDiv" id="industriesContainer3">
    </div>
  </div>
</div>

<div class="container">
  <div class="row targetHeaders" style="margin-top: 50px;">
      <div class="col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2 col-sm-12 " style="text-align: center; width: 320px;">  
        <h4 class="panel">Farming</h4>
      </div>
      <div class="col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2  col-sm-12" style="text-align: center; width: 320px;">  
        <h4 class="panel">Delivery</h4>
      </div>
  </div>
</div>


<div class="container">
  <div class="row" id="bottomTargetImagesDiv">
      <div class="col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2 col-sm-12 industriesDiv" id="industriesContainer4">  
      </div>
      <div class="col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2  col-sm-12 industriesDiv" id="industriesContainer5">  
      </div>
  </div>
</div>

</div>





<!--<div class="welcome_paragraph" >
  <h4>Efficient and Safe Platform</h4>
  <p style="color: #777; line-height: 1.5em;">Efficient and safe platform for all industries that have the most to gain from drone technology. <br><br> Unique web-based system to manage and track your fleet of drones in real time.</p>
</div>
</div>-->

