<p id="notice"><%= notice %></p>
<div class="jumb" style="width:100%; height: 420px;" >
  <div class="jumb_transbox">
    <h1>KNOW</br>BEFORE</br>YOU FLY</h1>
    <button href="" type="button" class="btn btn-danger" style="display: block; margin: 0 auto; text-align: center; font-weight: bold;">FAA Regulations</button>
  </div>
</div>

<div class="container body_padding" style="padding:10px; padding-bottom:50px;">
    <div>
    <div style="background-color: #bbdefb;">
      <h3 class="text-align" style="text-align: center; color:black; width:100%; vertical-align: middle; padding: 10px;">As of Dec 21,2015, all drones over 55 pounds must be registered with FAA</h3>
    </div>

      <p>
       <strong><h3>Current FAA Regulations</h3></strong>
        <ul>
           <li><h4>Each Drone user should follow the instructions strictly,which are imposed by FAA.</h4>
           <li><h4>For FAA regulations on Airspace Restrictions  <a href="https://www.faa.gov/uas/where_to_fly/airspace_restrictions/">click here</a></h4></li>
           <li><h4>No Drone Zone areas <a href="https://www.faa.gov/uas/where_to_fly/no_drone_zone/">click here</a></h4></li>
        </ul>
      </p>
   </div>
   <div>
      <p>
        <strong><h3>Safety Guidelines</h3></strong>
        <h4>Individuals flying for hobby or recreation are strongly encouraged to follow safety guidelines, which include:</h4>
        <ul>
             <li><h4>Fly at or below 400 feet and stay away from surrounding obstacles</h4></li>
             <li><h4>Keep your UAS within sight</h4></li>
             <li><h4>Never fly near other aircraft, especially near airports</h4></li>
             <li><h4>Never fly over groups of people</h4></li>
             <li><h4>Never fly over stadiums or sports events</h4></li>
             <li><h4>Never fly near emergency response efforts such as fires</h4></li>
             <li><h4>Never fly under the influence of drugs or alcohol</h4></li>
             <li><h4>Understand airspace restrictions and requirements</h4></li>
        </ul>
      </p>
   </div>
  <div align="center">
   <p>
   <strong><h3>Business Users</h3></strong>
   <h4 text-align="center">Unmanned aircraft guidance for business users</h4>
   <h4> For more information on Business Users</h4>
   <button type="button" style="color:blue;" onclick='window.open("http://knowbeforeyoufly.org/for-business-users/")'  ><b>Learn More</b></button>
   </p>
  </div>


  <br>
  <div align="center">
    <p>
    <strong><h3>Educational Users</h3></strong> 
    <h4 text-align="center">Unmanned aircraft guidance for educational institutions and community-sponsored events</h4>
     <h4> For more information on Education Users</h4>

    <button type="button" style="color:blue;" onclick='window.open("http://knowbeforeyoufly.org/education-use/")'><b>Learn More</b></button>
    </p>
  </div>
  
  
  <br>
  <div align="center">
    <p>
    <strong><h3>Recreational Users</h3></strong> 
    <h4 text-align="center">Unmanned aircraft guidance for recreational users</h4>
     <h4> For more information on Recreational Users</h4>
    <button type="button" style="color:blue;" onclick='window.open("http://knowbeforeyoufly.org/for-recreational-users/")'><b>Learn More</b></button>
    </p>
  </div>


  <br>
  <div align="center">
    <p>
    <strong><h3>Public Entities</h3></strong> 
    <h4 text-align="center">Unmanned aircraft guidance for public entities</h4>
     <h4> For more information on Public Entities</h4>
    <button type="button" style="color:blue;" onclick='window.open("http://knowbeforeyoufly.org/for-public-entities/")'><b>Learn More</b></button>
    </p>
  </div>
  <br>
</div>