/* LIVE TRACKING DIV */
#divAboveMap{
	background-color: rgba(0,0,0,0.85);
	height: 50px; margin-bottom:5px; 
  	margin-left:0px; margin-right:0px; 
  	color: #ffffff; 
  	font-weight: bold;
}
#divAboveMap p{
	font-size: 20px;
	margin: 5px;
	margin-top: 8px;
	letter-spacing: 1px;
}

/* Map layout */
#single_page_map{

}
#single_page_bottom_wrapper{
	background: rgba(0,0,0,0.8);
	height: auto;
	min-height:260px;
}
#flight_details{
	padding: 10px;
	color: rgba(255,255,255,0.9);
}
#table_flight_details{
	width: 70%;
}
#warning_div{
	margin-top: 40px; 
	width: 110px;
	height: auto;
	min-height: 20px;
	background-color: rgba(214,50,50,0.4); 
	color: rgba(255,255,255,1);
	text-align: center;
}
#warning_div h5{
	font-size: 11px;
}


